@import "tailwindcss";

@font-face {
  font-family: 'HeadlineA';
  font-style: normal;
  font-weight: normal;
  src:
    url('/HeadlineA.ttf') format('ttf');
}

@font-face {
  font-family: 'Andale Mono';
  font-style: normal;
  font-weight: normal;
  src:
    url('/AndaleMono.ttf') format('ttf');
}

@theme {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono:
    "Andale Mono";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
